<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <p class="text-center"><img src="//i.imgur.com/nykLble.png" style="margin:auto;" width="80%" class="img-responsive text-center"></p>
    </div>
    <div class="col-sm-6" style="padding-top: 50px;margin:auto;vertical-align:middle;">
      <p style="margin:auto;vertical-align:middle;">Node.js is an open source, cross-platform runtime environment for server-side
        and networking applications. Node.js applications are written in JavaScript,
        and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux
        and FreeBSD.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <p class="text-center"><img src="//i.imgur.com/QgERiyu.png" style="margin:auto;" width="50%" class="img-responsive text-center"></p>
    </div>
    <div class="col-sm-6" style="padding-top: 50px;margin:auto;vertical-align:middle;">
      <p style="margin:auto;vertical-align:middle;">Ember.js is an open-source
        client-side JavaScript web application framework based on the model-view-controller
        (MVC) software architectural pattern. It allows developers to create
        scalable single-page applications by incorporating common idioms and
        best practices into a framework that provides a rich object model,
        declarative two-way data binding, computed properties,
        automatically-updating templates powered by Handlebars.js, and a router
        for managing application state.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <p class="text-center"><img src="//i.imgur.com/2P5kdPx.png" style="margin:auto;" width="70%" class="img-responsive text-center"></p>
    </div>
    <div class="col-sm-6" style="padding-top: 50px;margin:auto;vertical-align:middle;">
      <p style="margin:auto;vertical-align:middle;">Bootstrap is a free collection
        of tools for creating websites and web applications. It contains HTML and
        CSS-based design templates for typography, forms, buttons, navigation and
        other interface components, as well as optional JavaScript extensions. In
        June 2014 it was the No.1 project on GitHub with over 73,000 stars and more
        than 27,000 forks, and a user base that includes MSNBC and NASA.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <p class="text-center"><img src="//i.imgur.com/ylOy5UK.png" style="margin:auto;" width="90%" class="img-responsive text-center"></p>
    </div>
    <div class="col-sm-6" style="padding-top: 50px;margin:auto;vertical-align:middle;">
      <p style="margin:auto;vertical-align:middle;">PostgreSQL is an object-relational database management system (ORDBMS) with an emphasis
        on extensibility and standards-compliance. As a database server, its primary
        function is to store data, securely and supporting best practices, and retrieve
        it later, as requested by other software applications, be it those on the same
        computer or those running on another computer across a network (including the
        Internet). It can handle workloads ranging from small single-machine applications
        to large Internet-facing applications with many concurrent users. Recent versions
        also provide replication of the database itself for security and scalability.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <p class="text-center"><img src="//i.imgur.com/cmh1Bhc.png" style="margin:auto;" width="80%" class="img-responsive text-center"></p>
    </div>
    <div class="col-sm-6" style="padding-top: 50px;margin:auto;vertical-align:middle;">
      <p style="margin:auto;vertical-align:middle;">Heroku is a cloud platform as
        a service (PaaS) supporting several programming languages. Heroku was acquired
        by Salesforce.com in 2010.[1] Heroku, one of the first cloud platforms, has been
        in development since June 2007, when it supported only the Ruby programming language,
        but has since added support for Java, Node.js, Scala, Clojure, Python and PHP and
        (undocumented) Perl. The base operating system is Debian or, in the newest stack,
        the Debian-based Ubuntu.</p>
    </div>
  </div>
</div>
