<div class="container">
  <!-- START THE FEATURETTES -->
  <div class="page-header">
    <h1>The Stack</h1>
    <p class="lead">It's what keeps us running through the night</p>
  </div>

  <h2 class="text-center">Backend</h2>
  <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Heroku</h3>
          <p class="lead">Heroku (pronounced her-OH-koo) is a cloud application platform – a new way
            of building and deploying web apps. One of the first cloud platforms, Heroku has been
            in development since June 2007, when it supported only the Ruby programming language,
            but has since added support for Java, Node.js, Scala, Clojure, Python and PHP and
            (undocumented) Perl. The base operating system is Debian or, in the newest stack,
            the Debian-based Ubuntu.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/cmh1Bhc.png" alt="ember.js logo">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/nykLble.png" alt="node.js logo">
        </div>
        <div class="col-md-7">
          <h3 class="featurette-heading">node.js</h3>
          <p class="lead">Node.js is an open source, cross-platform runtime environment for server-side
            and networking applications. Node.js applications are written in JavaScript,
            and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux
            and FreeBSD.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">sequelize.js</h3>
          <p class="lead">The Sequelize library provides easy access to MySQL, MariaDB, SQLite or PostgreSQL
          databases by mapping database entries to objects and vice versa. To put it in a nutshell,
          it's an ORM (Object-Relational-Mapper). The library is written entirely in JavaScript
          and can be used in the Node.JS environment.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//sequelizejs.com/images/logo.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/ylOy5UK.png" alt="ember.js logo">
        </div>
        <div class="col-md-7">
          <h3 class="featurette-heading">PostgreSQL</h3>
          <p class="lead">PostgreSQL is an object-relational database management system (ORDBMS) with an emphasis
              on extensibility and standards-compliance. As a database server, its primary
              function is to store data, securely and supporting best practices, and retrieve
              it later, as requested by other software applications, be it those on the same
              computer or those running on another computer across a network (including the
              Internet). It can handle workloads ranging from small single-machine applications
              to large Internet-facing applications with many concurrent users. Recent versions
              also provide replication of the database itself for security and scalability.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <h2 class="text-center">Frontend</h2>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">ember.js</h3>
          <p class="lead">Ember.js is an open-source
            client-side JavaScript web application framework based on the model-view-controller
            (MVC) software architectural pattern. It allows developers to create
            scalable single-page applications by incorporating common idioms and
            best practices into a framework that provides a rich object model,
            declarative two-way data binding, computed properties,
            automatically-updating templates powered by Handlebars.js, and a router
            for managing application state.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/QgERiyu.png" alt="ember.js logo">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/2P5kdPx.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h3 class="featurette-heading">Bootstrap</h3>
          <p class="lead">Bootstrap is a free collection
            of tools for creating websites and web applications. It contains HTML and
            CSS-based design templates for typography, forms, buttons, navigation and
            other interface components, as well as optional JavaScript extensions. In
            June 2014 it was the No.1 project on GitHub with over 73,000 stars and more
            than 27,000 forks, and a user base that includes MSNBC and NASA.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Font Awesome</h3>
          <p class="lead">Font Awesome gives you scalable vector icons that can
            instantly be customized — size, color, drop shadow, and anything that
            can be done with the power of CSS.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/K2dYbyu.png" alt="ember.js logo">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="//i.imgur.com/w3YmUPD.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h3 class="featurette-heading">Full Calendar</h3>
          <p class="lead">FullCalendar is a jQuery plugin that provides a full-sized,
            drag and drop event. It uses AJAX to fetch events
            on-the-fly and is easily configured to use your own feed format. It is
            visually customizable with a rich API.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
</div>
