<h4>This is the index page.</h4>
<p class="lead">Describe things here or something like that.<p>
<ul>
  <li>Bullets are usually pretty fun.</li>
  <li>I think designers like them a lot</li>
  <li>I usually just go for divs, though because I don't know css well</li>
  <li>Unless I just have to list a few important points</li>
</ul>

{{#link-to 'schedule'}}scheduleyourclasses{{/link-to}}
