<div class="container">
  <div class="page-header">
    <h1><img src="//s3.amazonaws.com/uploads.hipchat.com/36224/337494/NoyNlHDj48LXlIk/LSU%20Scheduler.png" class="img-responsive" alt="LSU Scheduler Logo"></h1>
  </div>
  <br>
  <p class="lead text-center">Figure out your perfect schedule next semester using this
    tool<br>written by LSU students, catered to the LSU lifestyle.</p>
  <br>
  <p class="text-center"><a type="button" class="btn btn-primary btn-lg" href="https://github.com/selbyk/lsu-scheduler">
    <i class="fa fa-calendar"></i> Get Started</a></p>
</div> <!-- /container -->
