<div class="container">
  <div class="page-header">
    <h1>Scheduler</h1>
    <p class="lead">Select a course you need to get started!</p>
  </div>
    {{schedule-component theEvents=model.events}}
</div>
